section {
  padding-top: 48px;
  padding-bottom: 48px;

  .section__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  &#explore {
    padding-bottom: 96px;
  }

  @media screen and (max-width: 576px) {
    padding-top: 32px;
    padding-bottom: 32px;

    .section__title {
      font-size: 1.75rem;
      margin-bottom: 24px;
    }

    &#explore {
      padding-bottom: 60px;
    }
  }
}
