#highlights,
#featured,
#discounted,
#explore {
  padding-top: 48px;
  padding-bottom: 48px;

  .section__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 576px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

#explore {
  padding-bottom: 96px;
}