.book {
  display: flex;
  flex-direction: column;
}

.book__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left bottom;
  transition: transform 300ms ease;
}

.book__img--wrapper,
.book__skeleton--img {
  height: 280px;
}

.book__img:hover {
  transform: scale(1.03);
}

.book__info {
  margin-top: 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.book__title {
  font-size: 18px;
}

.book__rating {
  color: #fabf2a;
  margin-top: 4px;
  margin-bottom: 8px;
}

.book__price--strikethrough {
  text-decoration: line-through;
  color: #bfbfbf;
  margin-right: 6px;
}

/*

    SKELETON

*/

.book__skeleton--img {
  height: 360px;
  background-color: rgb(204, 204, 204);
  border-radius: 2px;
}

.book__skeleton--title,
.book__skeleton--rating,
.book__skeleton--price {
  background-color: rgb(223, 223, 223);
  margin-top: 8px;
  border-radius: 1px;
}

.book__skeleton--title {
  height: 22px;
}

.book__skeleton--rating {
  width: 40%;
  height: 18px;
}

.book__skeleton--price {
  width: 70%;
  height: 18px;
}

/* 

    MOBILE OPS

*/

@media screen and (max-width: 1200px) {
  .book__img--wrapper,
  .book__skeleton--img {
    height: 25vw;
  }
}

@media screen and (max-width: 576px) {
  .book__img--wrapper,
  .book__skeleton--img {
    height: 55vw;
  }

  .book__img {
    object-position: bottom;
  }

  .book__info {
    text-align: center;
    align-items: center;
  }

  .book__title {
    max-width: 200px;
  }
}
