@use '../variables';

.modal-backdrop:has(.nav-modal) {
  justify-content: flex-end;
  padding: 0;
}

.nav-modal {
  background-color: variables.$purple-color;
  border-radius: 0;
  padding: 40px;
  height: 100%;
  display: flex;
  align-items: center;

  ul {
    height: 100%;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    color: #fff;
  }

  .fa-x-wrapper {
    position: absolute;
    right: 40px;
    top: 40px;
    margin: 0;

    .fa-x {
      color: #fff;
      font-size: 1.75rem;
    }
  }

  a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 12px;
  }

  .link-icon {
    font-size: 1.2rem;
    margin-right: 12px;
  }
}

// slide in / out transition
.fade-in {
  .nav-modal {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }

  &.visible .nav-modal {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
}

@media (max-width: 760px) {
  nav {
    li {
      display: none;
    }

    .hamburger,
    .shopping-cart {
      display: block;
    }
  }
}

@media screen and (max-width: 480px) {
  .nav__logo {
    width: 120px;
  }
}

@media screen and (max-height: 480px) {
  // landscape mobile
  .nav-modal {
    padding-top: 24px;
    padding-bottom: 24px;

    ul {
      max-height: none;
    }

    .fa-x-wrapper {
      position: relative;
      right: 0;
      top: 0;
      margin-left: auto;
    }
  }
}
