.books-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -24px; // to negate .book__wrapper gutters

  .book__wrapper {
    padding: 24px;
    width: calc(100% / 4); // defaults to 4 books per row
  }
}

@media screen and (max-width: 768px) {
  .books-grid {
    margin: -16px -8px;
    
    .book__wrapper {
      padding: 16px 8px;
    }
  }
}

@media screen and (max-width: 576px) {
  .books-grid {
    .book__wrapper {
      width: calc(100% / 2); // 2 books per row
    }
  }
}