#cart {
  min-height: calc(100vh - 92px - 220px);
}

.cart__section-title {
  text-align: left;
  font-size: 36px;
}
@media screen and (max-width: 576px) {
  .cart__section-title {
    font-size: 28px;
  }
}

.cart__header {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #7342d6;
  color: white;
  font-size: 1.1rem;
  padding: 12px 16px;
}
.cart__header .price {
  text-align: end;
}
.cart__header .quantity {
  text-align: center;
}

.cart__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-item {
  padding: 24px 0;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 2fr 1.25fr 2fr;
}
.cart-item__img {
  grid-column: 2/3;
  object-fit: contain;
  width: 100px;
  border-radius: 8px;
  margin-right: 20px;
}
.cart-item__description.desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cart-item__title {
  font-size: 1.25rem;
}
.cart-item__title.mobile {
  margin-bottom: 12px;
  text-align: center;
}
.cart-item__price {
  margin-top: 12px;
  font-weight: bold;
}
.cart-item__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item__quantity .btn.adjust-quantity {
  margin-bottom: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}
.cart-item__quantity .current-quantity {
  font-weight: bold;
  width: 50px;
  text-align: center;
}
.cart-item__total-price {
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .cart-item {
    grid-template-columns: 1fr 1.5fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .cart-item__img {
    width: 75%;
    max-width: 160px;
  }
  .cart-item__description {
    display: none;
  }
  .cart-item__total-price {
    padding-right: 0;
  }
  .cart-item__title.mobile {
    margin-bottom: 8px;
  }
  .cart-item .current-quantity {
    width: 40px;
  }
  .cart-item .btn.adjust-quantity {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .cart-item__title {
    font-size: 16px;
  }
}

.cart__empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;
}
.cart__empty--message {
  margin: 48px 0 24px;
  font-size: 1.25rem;
}
.cart__empty--img {
  max-width: 260px;
  width: 75%;
  object-fit: contain;
}
.cart__empty--btn {
  padding-left: 48px;
  padding-right: 48px;
}

.totals {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
.totals__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.totals__row.final {
  font-weight: 900;
}
.totals .btn {
  margin-bottom: 32px;
}

.confirm-remove-modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 600px;
  column-gap: 20px;
}
.confirm-remove-modal img {
  width: 100%;
  object-fit: contain;
}
.confirm-remove-modal .text-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.confirm-remove-modal .btns {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.confirm-remove-modal .btns .cancel-btn {
  font-size: 1rem;
  background-color: gray;
}
.confirm-remove-modal .btns .remove-btn {
  font-size: 1rem;
  background-color: #c14953;
}
@media screen and (max-width: 576px) {
  .confirm-remove-modal h2 {
    font-size: 20px;
  }
  .confirm-remove-modal .btn {
    font-size: 14px;
    padding: 8px 24px;
  }
}
@media screen and (max-width: 480px) {
  .confirm-remove-modal {
    padding: 16px;
  }
  .confirm-remove-modal h2 {
    font-size: 18px;
  }
  .confirm-remove-modal .btn {
    font-size: 12px;
    padding: 8px 20px;
  }
}

.fade-in {
  /* slide in animation */
}
.fade-in .confirm-remove-modal {
  transform: translateY(10%);
  transition: transform 300ms ease-in-out;
}
.fade-in.visible .confirm-remove-modal {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}