#footer {
  background-color: #242424;
}
#footer > .container {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer > .container .col {
  display: flex;
  justify-content: center;
}
#footer > .container .col .footer__logo,
#footer > .container .col .footer__links,
#footer > .container .col .footer__link,
#footer > .container .col .footer__copyright {
  color: #fff;
}
#footer > .container .col .footer__links {
  margin: 24px 0;
}
#footer > .container .col .footer__link {
  margin: 0 16px;
}
#footer > .container .col .footer__logo {
  width: 160px;
  filter: grayscale(1) brightness(0) invert(1);
}