.nav {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.nav__logo {
  width: 160px;
  margin-left: -20px;
}
.nav__links {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav__link-wrapper {
  margin-left: 24px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #7342d6;
}
.nav__link {
  padding: 8px;
}
.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}
.nav__cart-icon {
  position: relative;
}
.nav__cart-icon .fa-cart-shopping {
  font-size: 20px;
  color: #7342d6;
}
.nav__cart-icon .cart-size-bubble {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: -4px;
}
.nav__hamburger-icon {
  display: none;
}
.nav__hamburger-icon button {
  border: none;
  background-color: transparent;
}
.nav__hamburger-icon .fa-bars {
  font-size: 1.5rem;
  color: #7342d6;
}
@media (max-width: 760px) {
  .nav__link-wrapper {
    display: none;
  }
  .nav__hamburger-icon, .nav__cart-icon {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .nav__logo {
    width: 120px;
  }
}
@media screen and (max-height: 480px) {
  .nav {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav__links {
    max-height: none;
  }
  .nav__x-icon {
    position: relative;
    right: 0;
    top: 0;
    margin-left: auto;
  }
}