nav .container {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
nav .logo {
  width: 160px;
  margin-left: -20px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  margin-left: 24px;
  font-size: 1.25rem;
  font-weight: bold;
}
nav a {
  padding: 8px;
}
nav a.primary {
  border: 2px solid #7342d6;
  color: #7342d6;
  border-radius: 4px;
}
nav .shopping-cart {
  position: relative;
}
nav .shopping-cart .fa-cart-shopping {
  font-size: 20px;
  color: #7342d6;
}
nav .shopping-cart .cart-size-bubble {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: -4px;
}
nav .hamburger {
  display: none;
  border: none;
  background-color: transparent;
}
nav .hamburger .fa-bars {
  font-size: 1.5rem;
  color: #7342d6;
}