#highlights,
#featured,
#discounted,
#explore {
  padding-top: 48px;
  padding-bottom: 48px;
}
#highlights .section__title,
#featured .section__title,
#discounted .section__title,
#explore .section__title {
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  #highlights,
  #featured,
  #discounted,
  #explore {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

#explore {
  padding-bottom: 96px;
}