.btn {
  background-color: #7342d6;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 4px;
  transition: opacity 250ms ease;
  font-size: 1rem;
}
.btn:hover {
  opacity: 0.9;
}

.text--purple {
  color: #7342d6;
}

#home main section {
  padding-top: 48px;
  padding-bottom: 48px;
}
#home main section .section__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #home main section .section__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 576px) {
  #home main section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
#home main section#explore {
  padding-bottom: 96px;
}
@media screen and (max-width: 576px) {
  #home main section#explore {
    padding-bottom: 60px;
  }
}