#landing .container {
  min-height: calc(100vh - 92px);
  max-width: 720px;
}

#landing :is(.container, .row, .col) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#landing .col {
  justify-content: space-evenly;
}

.header__text {
  text-align: center;
}

.header__title {
  font-size: 48px;
  color: #7342D6;
  margin-bottom: 24px;
}

.header__sub-title {
  font-size: 24px;
  margin-bottom: 32px;
}

.header__img {
  margin-top: 32px;
  max-height: 300px;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  .header__img {
    height: 35vh;
  }
}
@media screen and (max-width: 480px) {
  .header__title {
    font-size: 36px;
  }
  .header__sub-title {
    font-size: 20px;
  }
}