
#cart {
  min-height: calc(100vh - variables.$nav-height - variables.$footer-height);

  h2 {
    text-align: left;
    font-size: 36px;
  }
}

.cart__header {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #7342d6;
  color: white;
  font-size: 1.1rem;
  padding: 12px 16px;
}

.cart__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .cart__empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;

    &--message {
      margin: 48px 0 24px;
      font-size: 1.25rem;
    }
  
    &--img {
      max-width: 320px;
      object-fit: contain;
    }

    &--btn {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}