.confirm-remove {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 600px;
  column-gap: 20px;

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__btns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__cancel-btn {
    font-size: 1rem;
    background-color: gray;
  }

  &__remove-btn {
    font-size: 1rem;
    background-color: #c14953;
  }

  @media screen and (max-width: 576px) {
    &__header {
      font-size: 20px;
    }
  
    &__btns {
      font-size: 14px;
      padding: 8px 24px;
    }
  }
  
  @media screen and (max-width: 480px) {
    padding: 16px;
  
    &__header {
      font-size: 18px;
    }
  
    &__cancel-btn,
    &__remove-btn {
      font-size: 12px;
      padding: 8px 20px;
    }
  }
}

.fade-in {
  /* slide in animation */
  .confirm-remove-modal {
    transform: translateY(10%);
    transition: transform 300ms ease-in-out;
  }

  &.visible .confirm-remove-modal {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
}