@use '../../utils';

.cart-totals {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__row.final {
    font-weight: 900;
  }

  &__checkout-btn {
    @include utils.btn;
    margin-bottom: 32px;
  }
}
