.book {
  flex-basis: 25%;
  padding: 0 24px 24px;
}

.book > * {
  /* all book elems (img, title, rating, etc) should take up full width */
  width: 100%;
}

.book__img--wrapper {
  height: 450px;
  display: flex;
  align-items: center;
}

.book__img {
  object-fit: contain;
  border-radius: 12px;
  width: 100%;
  transition: transform 300ms ease;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.book__img--wrapper:hover .book__img {
  transform: scale(1.03)
}

.book__title {
  font-size: 1.25rem;
}

.book__rating--wrapper {
  color: #fabf2a;
  margin: 8px 0;
}

.book__price--strikethrough {
  text-decoration: line-through;
  color: #BFBFBF;
  margin-right: 6px;
}
