.book {
  flex-basis: calc(25% - (48px * 3 / 4));
}

.book__img--wrapper {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book__img {
  object-fit: contain;
  max-height: 360px;
  max-width: 100%;

  border-radius: 12px;
  transition: transform 300ms ease;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.book__img--wrapper:hover .book__img {
  transform: scale(1.03)
}

.book__info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.book__title {
  font-size: 1.25rem;
}

.book__rating--wrapper {
  color: #fabf2a;
  margin: 8px 0;
}

.book__price--strikethrough {
  text-decoration: line-through;
  color: #BFBFBF;
  margin-right: 6px;
}

/*

    SKELETON

*/
.book__img--skeleton {
  height: 360px;
  width: 250px;
  background-color: rgb(204, 204, 204);
  border-radius: 2px;
}

.book__title--skeleton,
.book__rating--skeleton,
.book__price--skeleton {
  background-color: rgb(223, 223, 223);
  margin-top: 8px;
  border-radius: 1px
}

.book__title--skeleton {
  width: 100%;
  height: 22px;
}

.book__rating--skeleton {
  width: 40%;
  height: 19px;
}

.book__price--skeleton {
  width: 70%;
  height: 19px;
}
