#footer {
  background-color: #242424;
}

#footer > .container {
  height: var(--footer-height);
}

.footer__logo,
.footer__links,
.footer__link,
.footer__copyright {
  color: white;
  margin: 16px;
}

.footer__logo {
  width: 160px;
  filter: grayscale(1) brightness(0) invert(1); /* turns to black then inverts colors */
}
