nav .container {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 160px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__list--item,
.shopping-cart {
  margin-left: 24px;
  font-size: 1.25rem;
  font-weight: bold;
}

.nav__list--link {
  padding: 8px;
}

.nav__list--link,
.nav__list--link:visited,
.btn__menu {
  text-decoration: none;
  color: #7342d6;
}

.nav__list--link.primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.shopping-cart {
  position: relative;
}

.nav__cart-icon {
  font-size: 20px;
}

.cart__length {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: -4px;
}

/*

    Mobile Nav Menu

*/

.modal-backdrop:has(.nav-modal) {
  justify-content: flex-end;
  padding: 0;
}

.nav-modal {
  background-color: var(--purple-color);
  padding: 0 48px;
  border-radius: 0;
}

.nav-modal .x-icon {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 24px;
  top: 48px;
}

.nav-modal .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  height: 100vh;
  color: #fff;
}

.nav-modal .menu-item {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 12px;
}

.nav-modal :is(.fa-house, .fa-book, .fa-cart-shopping) {
  font-size: 1.5rem;
  margin-right: 20px;
}

.nav-modal .link {
  font-size: 2rem;
}

/*

    Mobile

*/

.btn__menu--wrapper {
  display: none;
}

.btn__menu {
  border: none;
}

.btn__menu--icon {
  font-size: 1.5rem;
}

@media (max-width: 760px) {
  .nav__list--item {
    display: none;
  }

  .btn__menu--wrapper {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .nav__logo {
    width: 120px;
  }
}
