nav .container {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 160px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__list--item,
.shopping-cart {
  padding: 8px;
  margin-left: 24px;
  font-size: 1.25rem;
  font-weight: bold;
}

.nav__list--link,
.nav__list--link:visited,
.btn__menu {
  text-decoration: none;
  color: #7342d6;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.shopping-cart {
  position: relative;
}

.nav__cart-icon {
  font-size: 20px;
}

.cart__length {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: -4px;
}

/*

    Mobile Nav Menu

*/

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
  z-index: 999;
}

.modal--open .modal {
  visibility: visible;
}

body.modal--open {
  overflow: hidden; /* prevent page scroll if modal is open */
}

.modal__x-icon {
  color: white;
  font-size: 48px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100vh;
  color: #fff;
}

.modal__menu-item {
  margin: 32px 0;
  display: flex;
  align-items: center;
}

.modal .fa-solid {
  font-size: 1.5rem;
  margin-right: 20px;
}

.modal__menu-link {
  font-size: 2.5rem;
}

/*

    Mobile

*/

.btn__menu--wrapper {
  display: none;
}

.btn__menu {
  border: none;
}

.btn__menu--icon {
  font-size: 1.5rem;
}

@media (max-width: 760px) {
  .nav__list--item {
    display: none;
  }

  .btn__menu--wrapper {
    display: block;
  }
}
