#books__main .container {
  padding-top: 36px;
  padding-bottom: 96px;
}

.section__title.books__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.books__header--title {
  margin: 0;
  font-size: 40px;
}

.books__header select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 576px) {
  select {
    max-width: 160px;
  }
}

@media screen and (max-width: 480px) {
  .books__header {
    flex-direction: column;
  }

  .books__header select {
    margin-top: 16px;
  }
}