.books__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.books__header--title {
  margin: 0;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}
