/* 

    NAVICATION HEADER

*/

.home-links {
  display: flex;
  align-items: center;
}

.home-link {
  font-size: 1.5rem;
}

.home-link:first-child {
  margin-right: 12px;
}

/*

    BOOK SELECTED

*/

:is(#active-book, #recc-books) > .container {
  padding-top: 24px;
  padding-bottom: 60px;
}

.book-selected {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
}

.book-selected img {
  border-radius: 12px;
  object-fit: contain;
  width: calc(100% / 3);
  min-width: 250px;
}

.book-selected .mobile-img-wrapper {
  display: none;
}

.book-selected .info {
  padding-left: 48px;
  text-align: left;
}

.book-selected .title {
  font-size: 1.75rem;
}

.book-selected .summary {
  margin-top: 20px;
}

.book-selected .btn {
  margin-top: 20px;
}

.book-selected .para {
  margin-top: 12px
}

.recc-books__header {
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .book-selected .info {
    padding-left: 24px;
  }
}

@media screen and (max-width: 576px) {
  :is(#active-book, #recc-books) > .container {
    padding-bottom: 40px;
  }

  .book-selected {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .book-selected .info {
    padding-left: 0;
  }

  .book-selected .rating-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .book-selected .desktop-img {
    display: none;
  }
  
  .book-selected .mobile-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}