#browse-books {
  .container {
    padding-top: 24px;
    padding-bottom: 64px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .books__header--title {
      font-size: 40px;
    }
  }

  select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  #browse-books {
    .container {
      padding-top: 12px;
      padding-bottom: 40px;
    }

    .books__header--title {
      font-size: 2rem;
    }

    select {
      padding: 0 8px;
      line-height: 36px;
      height: 36px;
    }
  }
}