.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-right: 5%;
  padding-left: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.df {
  display: flex;
}

.dfa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.text--left {
  text-align: left !important;
}

.text--center {
  text-align: center;
}

.row--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expand-vertically {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}