@use 'variables';
@use 'layout';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

/* 

    GLOBAL STYLES

*/

.btn {
  background-color: variables.$purple-color;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 4px;
  transition: opacity 250ms ease;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.9;
}

.section__title {
  font-size: 2rem;
  text-align: center;
}

.text--purple {
  color: variables.$purple-color;
}