.go-to-browse {
  padding-bottom: 20px;

  &__link-wrapper {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 1.5rem;

    &:first-child {
      margin-right: 12px;
    }
  }
}
