// NAVIGATION HEADER

.home-links {
  display: flex;
  align-items: center;

  .home-link {
    font-size: 1.5rem;

    &:first-child {
      margin-right: 12px;
    }
  }
}

/*

    BOOK SELECTED

*/

#active-book,
#recc-books {
  > .container {
    padding-top: 24px;
    padding-bottom: 60px;
  }
}

.book-selected {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;

  img {
    border-radius: 12px;
    object-fit: contain;
    width: calc(100% / 3);
    min-width: 250px;
  }

  .mobile-img-wrapper {
    display: none;
  }

  .info {
    padding-left: 48px;
    text-align: left;

    .title {
      font-size: 1.75rem;
    }

    .summary {
      margin-top: 20px;

      .title {
        font-size: 20px;
      }

      .para {
        margin-top: 12px;
      }
    }
  }

  .btn-wrapper {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;

    .btn {
      transition: background-color 500ms ease;
    }

    &::after {
      content: '';
      font-size: 20px;
      margin-left: 12px;
      opacity: 0;
      transform: translateY(10%);
      transition: opacity 300ms ease-in-out, transform 200ms ease-in-out;
      background-image: url('assets/checkmark.png');
      width: 32px;
      height: 32px;
      background-position: center center;
      background-size: contain;
    }
  }

  .btn-wrapper.confirm-active {
    .btn {
      background-color: #357266;
      transition: background-color 300ms ease;
    }

    &::after {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 300ms ease-in-out, transform 200ms ease-in-out;
    }
  }
}

.recc-books__header {
  margin-bottom: 32px;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #active-book,
  #recc-books {
    > .container {
      padding-top: 12px;
      padding-bottom: 40px;
    }
  }

  .book-selected .info {
    padding-left: 24px;
  }
}

@media screen and (max-width: 576px) {
  .book-selected {
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .info {
      padding-left: 0;

      .title {
        margin-top: 24px;
      }
    }

    .rating-and-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .desktop-img {
      display: none;
    }
  
    .mobile-img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    .btn-wrapper {
      &::after {
        width: 28px;
        height: 28px;
      }
      .btn {
        padding: 8px 20px;
      }
    }
  }

  .recc-books__header {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 480px) {
  .recc-books__header {
    margin-bottom: 20px;
  }
}